.next{
    background: #1B0F26;
    color: white;
    width: 170px;
    height: 35px;
    border-radius: 50px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
/* .next:hover{
    background: white;
    color: #1B0F26;
} */
.container-titulo4 .next p{
    font-size: 0.8rem;
}