.buttonsNext{
    position: absolute;
    bottom: -60px;
    left: 10%;
    display: flex;
    gap: 12px;
    height: 35px;
    
}
.buttonsNext .back{
    border-radius: 50%;
    width: 35px;
    height: 35px;
    border: 1px solid #1B0F26;
    color: #1B0F26;
    background: rgba(255, 255, 255, 0);
}
.buttonsNext .next{
    background: #1B0F26;
    color: white;
    width: 170px;
    height: 35px;
    border-radius: 50px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}