.finalizar{
    background: #1B0F26;
    color: white;
    width: 170px;
    height: 35px;
    border-radius: 50px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    transition: all 1s;
    margin-top: 40px;
    animation: animacion-buttonF 2s ease;
    animation-fill-mode: forwards;
}
.finalizar:hover{
    background: rebeccapurple;
}
.container-titulo4 .next p{
    font-size: 0.8rem;
}


@keyframes animacion-buttonF{
from{
    opacity: 0;
    transform: translateY(80px)
}
to{
    opacity: 1;
    transform: translateY(0px)
}}