.step2{
    background: #3FC467;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.container-titulo2{
    width: 370px;
    text-align: start;
    margin-bottom: 20px;
}
.container-titulo2 p{
    font-size: 1.1rem;
}
.titulo-industria{
    color: white;
    font-weight: bold;
}


/*Contenedor de la imagen derecha*/
.container-rigth{
    position: relative;
}
